{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title>WaterWorldWaterPark - Welcome</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/landing.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js version 1.4.2 IE8 support of HTML5 elements and media queries version 3.7.0 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body onload="initialize('{{user_mac}}', '{{router_mac}}', '{{redirect_url}}');">

    <div id="fb-root"></div>

    <!-- MAIN CONTAINER -->
    <div class="container-fluid centered" id="content">
        <div class="row" id="brand">
            <div class="col-lg-12">
                <img src="{% static 'img/logoinv.png' %}" id="logo" alt="WaterWorldWaterPark" align="center"class="centro">
            </div>
        </div>
        <!-- WELCOME MESSAGE -->
        <section id="welcome" class="row pd">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="white">Enjoy Free Wi-Fi</h2>
                <h3 class="white">Like our Facebook Page or leave us your contact info</h3>
            </div>
        </section>
        <!-- LOGIN OPTIONS SECTION -->
        <section id="login" class="row centered">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="col-lg-8 col-lg-offset-2 pb">
                    <div id="loginbig">
                        <div id="loginbuttons">

                            <!--
                            <div class="col-xs-12 pb" id="loginfacebook">
                                <div class="fb-like" data-href="https://www.facebook.com/WaterWorldWaterPark" data-width="100" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" data-layout="button_count"></div>
                            </div>
                            -->

                            <div class="fb-page" data-width="500" data-href="https://www.facebook.com/WaterWorldWaterPark" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/WaterWorldWaterPark"><a href="https://www.facebook.com/WaterWorldWaterPark">WaterWorld WaterPark</a></blockquote></div></div>
                            <p/>
                            
                            <!--
                            <div class="col-xs-12 pb" id="loginfacebook">
                                <div class="fb-like" data-href="https://www.facebook.com/WaterWorldWaterPark" data-width="100" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                            </div>
                            -->

                            <div class="col-xs-12 ulined" style="padding-bottom: 20px; padding-top: 20px; font-size: 20px;">
                                <a href="/register/?id={{user_mac}}&ap={{router_mac}}&url={{redirect_url}}" id="registeremail">Register with email</a>
                            </div>

                            <p/><p/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid centered" id="terms">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>By continuing you indicate that you have read and agree to the <a href="#" target="_blank">Terms of Service</a></p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/facebook-addons.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
  </body>
</html> 