{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title>WaterWorldWaterPark - Login</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/landing.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js version 1.4.2 IE8 support of HTML5 elements and media queries version 3.7.0 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body style="background-color: #F5F5F5;">
    <!-- MAIN CONTAINER -->
    <div class="container-fluid centered">
        <!-- LOGIN OPTIONS SECTION -->
        <section id="login" class="row centered">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="col-lg-8 col-lg-offset-2 pb">
                    <div id="loginbig">
                        <!-- LOGIN FORM DIV -->
                        <div id="logindiv">
                            <form autocomplete="off" id="loginform" method="post" action="/login/">
                                <div class="group">
                                    <h2>Login & Get Free Wifi</h2>
                                </div>
                                {% if request.GET.error == 'yes' %}
                                <div class="group red">
                                    <span class="bar">Invalid credentials, please, try again</span>
                                </div>
                                {% endif %}
                                <div class="group">
                                    <input type="email" name="username" required="" /><span class="highlight" title="Please enter you email"></span><span class="bar"></span>
                                    <label>Email</label>
                                </div>
                                <div class="group">
                                    <input type="password" name="password" required="" title="Please enter your password" /><span class="highlight"></span><span class="bar"></span>
                                    <label>Password</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" name="id" value="{{user_mac}}" />
                                    <input type="hidden" name="ap" value="{{router_mac}}" />
                                    <input type="hidden" name="url" value="{{redirect_url}}" />
                                    <button class="btn btn-block btn-danger" type="submit">Login</button>
                                </div>
                                <div class="group hidden">
                                    <p class="small">Forgot password? <a href="#" data-toggle="modal" data-target="#mforgot" id="forgotpwd">Click here</a></p>
                                </div>
                                <div class="col-xs-6 ulined" >
                                    <a href="/register/?id={{user_mac}}&ap={{router_mac}}&url={{redirect_url}}" id="registeremail" style="color: #555;">Register with email</a>
                                </div>
                                <div class="col-xs-6 ulined" >
                                    <a href="/?id={{user_mac}}&ap={{router_mac}}&url={{redirect_url}}" id="registeremail" style="color: #555;">Back home</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FORM MODAL -->
        <div class="modal fade" id="mforgot">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2>Forgot password?</h2>
                        <p>Enter your email address and we'll help you reset your password</p>
                        <form id="forgotform" class="pd">
                            <div class="group">
                                <input type="email" title="Please enter your email" required=""><span class="highlight"></span><span class="bar"></span>
                                <label>Email</label>
                            </div>
                            <div class="group">
                                <button class="btn btn-danger btn-block">Okay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

  </body>
</html> 