{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title>WaterWorldWaterPark - Register</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/landing.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js version 1.4.2 IE8 support of HTML5 elements and media queries version 3.7.0 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body style="background-color: #F5F5F5;">
    <!-- MAIN CONTAINER -->
    <div class="container-fluid centered">
        <!-- LOGIN OPTIONS SECTION -->
        <section id="login" class="row centered">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="col-lg-8 col-lg-offset-2 pb">
                    <div id="loginbig">
                        <div id="registerdiv">
                            <form autocomplete="off" id="registerform" method="post" action="/register/" enctype="multipart/form-data">
                                <div class="group">
                                    <h2>Leave your contact data & Get Free Wifi</h2>
                                </div>
                                <div class="row">
                                    <!--
                                    {% if request.GET.error == 'yes' %}
                                    <div class="group red">
                                        <span class="bar">User is already registered, please, try again.</span>
                                    </div>
                                    {% endif %}
                                    -->
                                    <div class="col-xs-6">
                                        <div class="group">
                                            <input type="text" required="" name="first_name" /><span class="highlight"></span><span class="bar"></span>
                                            <label>First name</label>
                                        </div>
                                        <div class="group">
                                            <input type="text" required="" name="last_name" /><span class="highlight"></span><span class="bar"></span>
                                            <label>Last name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="group">
                                    <input type="email" required="" name="email"><span class="highlight" /></span><span class="bar"></span>
                                    <label>Email Address</label>
                                </div>
                                <!--
                                <div class="group">
                                    <input type="password" required="" name="password" title="Please enter your password" /><span class="highlight"></span><span class="bar"></span>
                                    <label class="text-left">Password (Min. 6 characters)</label>
                                </div>
                                <div class="group">
                                    <input type="password" required="" title="Please enter your password" name="repeat_password" /><span class="highlight"></span><span class="bar"></span>
                                    <label class="text-left">Repeat Password</label>
                                </div>
                                -->
                                <div class="group">
                                    <input type="hidden" name="id" value="{{user_mac}}" />
                                    <input type="hidden" name="ap" value="{{router_mac}}" />
                                    <input type="hidden" name="url" value="{{redirect_url}}" />
                                    <button class="btn btn-block btn-danger" type="submit">Submit</button>
                                </div>
                                <!--
                                <div class="col-xs-6 ulined" >
                                    <a href="/login/?id={{user_mac}}&ap={{router_mac}}&url={{redirect_url}}" id="registeremail" style="color: #555;">Already have an account?</a>
                                </div>
                                -->
                                <div class="col-xs-6 ulined" >
                                    <a href="/?id={{user_mac}}&ap={{router_mac}}&url={{redirect_url}}" id="registeremail" style="color: #555;">Back home</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

  </body>
</html> 