{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title>WaterWorldWaterPark - Success</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/landing.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css' />

    <!-- HTML5 shim and Respond.js version 1.4.2 IE8 support of HTML5 elements and media queries version 3.7.0 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid centered pd same" id="content">
      <div class="container samerow">
        <div class="row" id="brand">
          <div class="col-lg-12 animated zoomIn">
            <img src="{% static 'img/logoinv.png' %}" class="centro" align="middle" width="200">
          </div>
        </div>
        <section id="login" class="row centered pd">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="col-lg-6 col-lg-offset-3 pb">
              <div class="wb ma">
                <h2>Congratulations!</h2>
                <div style="display: block;" id="loginbuttons">
                  <span>Now, you have full Internet access</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  
  </body>
</html>