/* ==========================================================================
LANDING CSS
For use in landing.html
Alberto Rico
========================================================================== */

body {
    background-color: #d0555b;
    transition: background-color 0.2s ease;
}

.fa {
    font-size: 14pt;
    color: white;
}

.btn {
    font-size: 14pt;
}

#em {
    border: none;
    background-color: gray;
}

#fb {
    border: none;
    background-color: #4963A4;
}

.wb {
    padding: 20px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

h2 {
    margin-top: 10px;
}

.content{
    padding-top: 20px !important;
}

.btn-facebook {
    padding: 10px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    transition: box-shadow 0.5s ease,background-color 0.5s ease;
}

.btn-facebook:hover {
    background-color: #3B5998;
    box-shadow: 1px 1px 10px rgb(255,255,255);
    transition: box-shadow 0.5s ease,background-color 0.5s ease;
}

#loginbig button,
#loginbig a {
    color: white;
}

#terms p,
#terms a {
    color: white;
}

#terms a {
    text-decoration: underline;
}

form {
    border: none !important;
    border-radius: 0 !important;
}

#welcome {
    padding-bottom: 10px;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.modal-dialog{
    padding-top: 50px !important;
}

@media(max-width:1023px) {

    #content {
    padding-top: 50px;
    min-height: 90vh;
}

    #logo{
        width: 130px;
    }

    #terms p {
        font-size: 9pt !important;
    }

    #terms {
        border-top: 1px solid rgba(255,255,255,0.2);
        background-color: #d0555b;
    }

    .btn {
        font-size: 11pt;
    }

    .ulined a{
        font-size: 10pt;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px 10px 10px 5px;
        border: none;
        border-bottom: 1px solid #757575;
        border-radius: 0;
        font-size: 14px;
        color: #636363;
        background: transparent;
    }

    label {
        position: absolute;
        top: 10px;
        left: 5px;
        font-size: 14px;
        font-weight: normal;
        color: #999;
        transition: all 0.2s ease;
        pointer-events: none;
    }

    .help-block{
        font-size: 14px !important;
    }

    #login{
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media(min-width:1024px) {

    #content {
    padding-top: 50px;
    min-height: 90vh;
}

    #logo{
        width: 200px;
    }

    #terms p {
        font-size: 10pt;
    }

    #terms {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.2);
        background-color: #d0555b;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px 10px 10px 5px;
        border: none;
        border-bottom: 1px solid #757575;
        border-radius: 0;
        font-size: 18px;
        color: #636363;
        background: transparent;
    }

    label {
        position: absolute;
        top: 10px;
        left: 5px;
        font-size: 18px;
        font-weight: normal;
        color: #999;
        transition: all 0.2s ease;
        pointer-events: none;
    }

    #login{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#forgotpwd {
    color: #D0555B !important;
}

.closeform {
    float: left;
    position: fixed;
    top: 10px;
    left: 10px;
}

.closeform .glyphicon{
    font-size: 19pt;
}

#closelogin,
#closeregister {
    color: black !important;
}

.disclaimertext{
    font-size: 10pt;
}

#birtht p{
    font-size: 18px;
    text-align: left;
}

#birtht{
    margin-bottom: 0;
}

.help-block{
    font-size: 18px;
}

/* Login style */

hgroup {
    margin-top: 4em;
    text-align: center;
}

.group {
    position: relative;
    margin-bottom: 25px;
}

input:focus {
    outline: none;
}

/* active */

input:focus ~ label,
input.used ~ label {
    top: -20px;
    left: -2px;
    color: #D0555B;
    transform: scale(.75);
}

/* Underline */

.bar {
    display: block;
    position: relative;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 0;
    height: 2px;
    background: #D0555B;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* Highlight */

.highlight {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100px;
    height: 60%;
    opacity: 0.5;
    pointer-events: none;
}

/* active */

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter {    
    from {
        background: #D0555B;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0;
    background: rgba(255,255,255,0.25);
    transform: translate(-50%,-50%);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}

/* Ripples animation */

@keyframes ripples {    
    0 {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}