/* ==========================================================================
MAIN CSS
For use in every HTML
Alberto Rico
========================================================================== */

/* @group Fonts */

@font-face {
    font-family: 'Avenir';
    src: url(../fonts/AvenirNextLTPro-Regular.woff);
}

/* @end */

/* @group Main Elements */

body {
    font-family: 'Avenir',sans-serif;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* @end */

/* @group Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Avenir';
    color: #555;
}

h3 {
    font-weight: 400;
    color: #555;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color: #95a5a6;
}

@media(max-width:768px) {
    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 23px !important;
    }

    p {
        font-size: 16px !important;
    }

    #redwrap {
        text-align: center;
    }

    #compscreen {
        text-align: center;
    }
}

/* @end */

/* @group Paragraph & Typographic */

label {
    font-weight: 400;
}

p {
    font-family: "Avenir","Helvetica";
    font-size: 21px;
    line-height: 31px;
    color: #555;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}

i {
    margin: 8px;
    color: #3498db;
}

figcaption {
    text-align: center;
}

/* @end */

/* @group Text & images positions and styles */

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.img-centered {
    display: block;
    margin: 0 auto;
}

.btncenter {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

/* @end */

/* @group Links */

a {
    color: #3498db;
    -webkit-transition: color 0.1s ease-in,background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in,background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in,background 0.1s ease-in;
    -o-transition: color 0.1s ease-in,background 0.1s ease-in;
    transition: color 0.1s ease-in,background 0.1s ease-in;
    word-wrap: break-word;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
    color: #7b7b7b;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in,background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in,background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in,background 0.1s ease-in;
    -o-transition: color 0.1s ease-in,background 0.1s ease-in;
    transition: color 0.1s ease-in,background 0.1s ease-in;
}

.preorder-nav {
    display: initial !important;
    position: relative;
    padding: 10px 20px;
    border: medium none;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: #FFF !important;
    background: #d0555b;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    transition: box-shadow 0.5s ease;
    margin-top: 10px;
}

.btnp:hover {
    box-shadow: 1px 3px 3px rgba(0,0,0,0.5);
    transition: box-shadow 0.5s ease;
}

/* @end */

/* @group Horizontal Lines */

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.hline {
    border-bottom: 2px solid RGBA(48,66,88,0.6);
}

/* @end */

/* @group Navbar */

/* Code to make navbar collapse on certain pixels, overriding Bootstrap */

@media(max-width:992px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-brand img {
        height: 30px;
        margin-top: -5px;
    }
}

/* Other navbar css */

.navbar {
    font-size: 14px;
    background-color: transparent;
    transition: background-color 0.4s ease;
}

.navbar-right a:hover {
    background-color: none !important;
    transition: background-color 0.3s ease;
}

.navbar-inverse li {
    text-transform: uppercase;
    font-weight: normal;
}

.nav li:active {
    background-color: white;
}

.navbar-nav > .active > a {
    color: white;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
    border: 2px solid transparent;
    text-transform: uppercase;
    line-height: 50px;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
    color: white;
}

.navbar a:hover {
    color: white !important;
}

.navbar li {
    transition: background-color 0.3s ease;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navwhite .navbar-toggle {
    border-color: #d0555b;
    font-size: 20px;
    color: #d0555b !important;
}

.navwhite .icon-bar {
    background-color: #d0555b !important;
}

.visible {
    color: white;
    opacity: 1;
    background-color: #d0555b !important;
    transition: all 0.4s ease;
    -webkit-transform: translateZ(0); 
}

.navwhite {
    border-color: #d0555b;
    background-color: white;
}

.navwhite a {
    font-weight: bold;
    color: #d0555b !important;
}

.navwhite a:hover {
    color: black !important;
}

.navbar-toggle {
    font-size: 20px;
    color: white !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: black !important;
    background-color: white;
}

.navbar-collapse.in.visible {
    opacity: 1;
    background-color: transparent;
}

.navbar-collapse.in:not(.visible) {
    opacity: 1;
    background-color: #d0555b;
}

.navwhite .navbar-collapse.in:not(.visible) {
    background-color: white;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
}

@media(max-width:992px) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        width: 100%;
    }
}

/* @end */

/* @group Helpers */

.imgresponsive {
    width: 100%;
    max-width: 600px;
}

.bold {
    font-weight: bold;
}

.ulined{
    text-decoration: underline;
}

.noshadow h1,
.noshadow h2,
.noshadow h3,
.noshadow h4 {
    text-shadow: none !important;
}

.ma {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pd {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pb {
    padding-bottom: 20px;
}

.p4 {
    margin-top: 400px;
}

.pt {
    padding-top: 20px;
}

.ptd {
    padding-top: 40px;
}

.pdsides {
    padding-right: 20px;
    padding-left: 20px;
}

.sep {
    padding-bottom: 30px;
}

.nopadding {
    padding: 0 !important;
}

.nolist {
    padding-left: 0;
    list-style: none;
}

.nolist li {
    display: inline-block;
    float: left;
}

.view {
    opacity: 1;
}

.borderright {
    border-right: 1px solid white;
}

.uppercase {
    text-transform: uppercase;
}

.nomargin {
    margin-bottom: 0;
}

@media(min-width:766px) {
    .same {
        display: table;
        width: 100%;
        vertical-align: middle;
    }

    .samerow {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}

@media(min-width:992px) {
    .headerpd {
        margin-top: 74px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #d0555b;
    }

    .headerpd h1 {
        text-transform: uppercase;
        color: white;
    }
}

@media(max-width:991px) {
    .headerpd {
        margin-top: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #d0555b;
    }

    .headerpd h1 {
        text-transform: uppercase;
        color: white;
    }
}

/* @end */

/* @group Footer & redwrap */

#sociallinks img {
    width: 40px;
}

#redwrap {
    background-color: #d0555b;
}

#footer {
    background-color: #d0555b;
}

#redwrap h2,
#redwrap p,
#footer a,
#footer li {
    color: white;
}

#footer li {
    margin-bottom: 0;
    padding: 20px;
}

#footerlinks a {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

#footerlinks a:hover {
    border-bottom: 2px solid white;
    text-decoration: none;
}

#footer ul {
    margin-bottom: 0;
}

@media(min-width:992px) {
    footer .same {
        display: table;
        width: 100%;
        vertical-align: middle;
    }

    footer .samerow {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}

@media(max-width:991px) {
    footer .same {
        display: block;
        float: initial;
    }

    footer .samerow {
        display: block;
        float: initial;
    }
}

/* @end */

/* @group Colours helpers */

.white {
    color: white;
}

.whitesmoke {
    color: #B0B0B0;
}

.black {
    color: black;
}

.red {
    color: red;
}

/* @end */

/* @group Nav Tabs (for possible use) */

.nav-tabs > li,
.nav-pills > li {
    display: inline-block;
    float: none;
    zoom: 1; /* hasLayout ie7 trigger */
    *display: inline; /* ie7 fix */
}

.nav-tabs,
.nav-pills {
    text-align: center;
}

.nav-tabs li:active {
    background-color: transparent !important;
}

/* @end */

/* @group Anchor CSS hack */

a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -87px;
}

/* @end */

/* @group Miscellaneus */

#image img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

#content li {
    padding: 5px;
}

.listpadding li {
    padding: 5px;
}

@media(max-width:991px) {
    #headerwrap {
        margin-top: 50px;
    }
}

.line-title {
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto 20px;
}

/* @end */

/* @group Modal (override Bootstrap) */

.modal-dialog {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.modal-content {
    box-shadow: none;
}

.modal-content {
    box-shadow: none;
}

.modal-backdrop {
    background-color: rgb(208,85,91);
}

.modal-content {
    border-radius: 0;
}

.modal-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 400;
}

form fieldset {
    border: none;
}

form{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* @end */

/* @group Preorder Form */

#contact-form input {
    border: 2px solid rgba(0,0,0,0.3);
}

#contact-form input:focus {
    border: 2px solid rgb(0,0,0);
    box-shadow: none;
}

#contact-form p {
    margin-bottom: 0;
}

/* @end */

/* @group Form Buttons */

.preorderbtn {
    width: 100px;
    height: 100px;
    padding: 16px;
    border: 2px solid #5B8A38;
    border-radius: 50px;
    font-size: 12pt;
    color: white;
    background-color: #5B8A38;
    transition: background-color 0.5s ease,color 0.5s ease;
}

.preorderbtn:hover {
    color: black;
    background-color: #B9FF88;
    transition: background-color 0.5s ease,color 0.5s ease;
}

.btn-danger {
    text-transform: uppercase;
    background-color: #d0555b;
    transition: background-color 0.5s ease;
}

.btn-danger:hover {
    background-color: #8D3A3E;
    transition: background-color 0.5s ease;
}

/* @end */